
@font-face {
	font-family: 'M PLUS Rounded 1c';
	src: url('/fonts/MPLUSRounded1c-Light.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Noto Sans JP';
	src: url('/fonts/NotoSansJP-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

html {
	font-family: 'M PLUS Rounded 1c', 'Noto Sans JP', sans-serif;
	/* background: #13151a; */
	background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.9)), url("/background.jpg");
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	/* background-size: 224px; */
}